* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  letter-spacing: 0.05rem;
  user-select: none;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 1);

  i {
    cursor: pointer;
  }
}

.Sidebar {
  display: flex;
  justify-content: center;
  padding: 20px 10%;
}

.Contents {
  padding: 20px;
  overflow: hidden;
}

.songlist {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;

  ul {
    margin: 10px 0;

    li {
      display: block;
      list-style: none;
      width: 100%;
      height: 65px;
      box-shadow: #0000003d 0px 3px 8px;
      margin: 2px 0 4px 0;
      display: flex;
      align-items: center;
      padding-left: 10px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      font-weight: 100;
      font-size: 0.9rem;

      &:hover {
        height: 75px;
        text-shadow: 2px 4px 8px #e91e6252;
        border-bottom: solid #bbbbbb8c;
        font-weight: 500;
        background-image: linear-gradient(
          to right top,
          #e91e63,
          #e51f68,
          #e1216d,
          #dd2372,
          #d82676,
          #da2272,
          #db1e6d,
          #dd1a69,
          #e30e5a,
          #e7094a,
          #e91038,
          #e91e24
        );
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.btn {
  display: flex;
  width: 100%;
  height: 23px;
  font-size: 0.95rem;

  i {
    margin: 2px 10px 0 5px;

    svg {
      width: 12px;
    }
  }
}

.Player {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 0 15px;
  grid-template-columns: 0.5fr 1.3fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'thumbnail tracker controls'
    'thumbnail tracker controls';

  .thumbnail,
  .controls,
  .tracker {
    padding: 15px 10px;
  }

  .thumbnail {
    grid-area: thumbnail;
    display: flex;
    padding: 15px 5px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    span {
      width: 100px;
      height: 50%;
      font-size: 68%;

      &:first-child {
        height: 45%;
        font-weight: normal;
        opacity: 0.5;
      }

      &:last-child {
        height: 55%;
        font-size: 60%;
        font-weight: 500;
        opacity: 0.8;
      }
    }
  }

  .controls {
    grid-area: controls;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    i,
    input {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    i {
      margin: 0 8px;
      opacity: 0.7;
    }
  }

  .tracker {
    grid-area: tracker;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .range {
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: column;

      .time {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 6px;

        span {
          font-size: 0.6rem;
          font-weight: 400;
          color: #bbbbbb8c;
        }
      }
    }

    .icons {
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        width: fit-content;
        height: 5%;
        margin: 0 3%;
        opacity: 0.7;
        display: flex;
        justify-items: center;
        align-items: center;
        transition: 80ms ease-in all;

        svg {
          box-shadow: 2px 10px 20px rgba(0, 0, 0, 1);
          border-radius: 8px;
        }

        &:hover {
          transform: translateY(-2px);
          scale: 1.1;
          filter: sepia(23%);
        }

        &:nth-child(3) {
          scale: 2.2;
          margin: 0 20px;
        }
      }
    }
  }
}

.btnFocus {
  border-bottom: 2px solid #e91e63;
  height: 80px;
}

.sliderRef {
  appearance: none;
  width: 100%;
  height: 3px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
  transition: 20ms all ease;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
  }

  &:hover {
    opacity: 1;
  }

  &:active::-webkit-slider-thumb {
    transform: scale(1.2);
  }

  &:active::-moz-range-thumb {
    transform: scale(1.2);
  }
}

.volumeRef {
  appearance: none;
  width: 50%;
  height: 2px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
  transition: 20ms all ease;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
  }

  &:hover {
    opacity: 1;
  }

  &:active::-webkit-slider-thumb {
    transform: scale(1.2);
  }

  &:active::-moz-range-thumb {
    transform: scale(1.2);
  }
}

.trackPlayingAnimation {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;
  margin: 0 20px;

  span {
    width: 3px;
    height: 100%;
    background-color: #e91e63;
    border-radius: 3px;
    animation: bounce 2.2s ease infinite alternate;
    content: '';

    &:nth-of-type(2) {
      animation-delay: -2.2s; /* Start at the end of animation */
    }

    &:nth-of-type(3) {
      animation-delay: -3.7s; /* Start mid-way of return of animation */
    }
  }
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}

.Searchbar {
  width: 100%;
  height: 100%;

  .group {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    i {
      scale: 1.3;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 15px;
      color: #9c9b9b;
    }

    input {
      all: unset;
      height: 100%;
      letter-spacing: 1.4px;
      font-weight: 400;

      &::placeholder {
        font-size: 0.8rem;
        color: #9c9b9b;
      }
    }
  }
}
